version: '3.9'

services:
  db:
    image: postgres:15
    container_name: personal-planner-db
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: personal-planner
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
